@import "../../../scss/base.scss";

.file-list {
  display: flex;
  flex-direction: row;
  height: 800px;
  background-color: $secondFontColor;
}

.container.dragging {
  background-color: rgb(67, 85, 89);
}
