@font-face {
  font-family: "Czizh";
  font-style: normal;
  font-weight: 400;

  /* Браузер сначала попробует найти шрифт локально */
  src: url("/assets/fonts/Czizh.ttf") format("truetype"),
    url("/assets/fonts/Czizh.woff") format("woff");
}

@import "./scss/base.scss";

body {
  font-family: "Czizh", "Arial", sans-serif;
  color: $mainTextColor;
  overflow-y: hidden;
  display: flex;
}

#root {
  width: 100%;
}
.container {
  display: flex;
  // height: 79vh;
  background-color: $secondFontColor;
}
